ADMIN_PANEL=https://roomsstay.vercel.app
FRONTEND_URL=https://hotelroomsstay.com/login
JWT_SECRET=your_secret_key
NODEMAILER_EMAIL=info@hotelroomsstay.com
NODEMAILER_PASSWORD=Hanover$9917
NODE_VERSION=21.6.2
PORT=5000
